*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
html,body{
    height: 100%;
    width:100%;
}
#main{
    width:100%;
    height:100%;
    
    color: #fff;
}
#nav a{
    text-decoration: none;
    color:black;
    font-size:25px;
     margin-right:30px;
   
    
}
#nav{
    padding:10px 30px;
   

}
#main h1{
    color:black;
    position:absolute;
    top:10%;
    left:20%;
    font-size: 200px;
   font-weight:100;
   padding:10px;
}
#btmleft{
    position: absolute;
    bottom: 20%;
   left:2%;
   color:black;
    width:300px;
}
#btmleft h3{
    font-size:30px;
}
#btmleft h4{
    font-size:30px;
}
#btmleft p{
    font-size:15px;
}
#bottombar{
    position:absolute;
    bottom: 0;
    left:0;
    width:100%;
    padding:20px 15px;
    
}
#bottombar h1{
    
    font-size:20px;
    left:80%;

}
#bottombar a{

    left:80%;
    text-decoration: none;
color:black;
    padding:20px 10px;
   }
#main>img{
    height:100px;
    position:absolute;
}
#main #first{
height:250px;
top:15%;
left:78%;
}
#main #second{
    height:250px;
    top:40%;
    left:70%;
}
#main #third{
    height:150px;
    width:20%;
    top: 40%;
    left:52%;
}